version: 2
jobs:
  build:
    docker:
      - image: circleci/golang:1.14
    working_directory: /go/src/github.com/codelingo/actions
    steps:
      - checkout
      - run: go mod vendor
      - run: go test $(go list ./... 2>/dev/null  | grep -v /vendor)
